.everything {
    width: 720px;
    border: solid 1px #ddd;
    margin: 0 auto;
    background: #3ac6fe81;
    border: solid 10px;
    text-align:center;
    min-height:430px;
}



.btn {
    box-shadow: 0px 0px 20px 3px #23395e;
	background-color:transparent;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    border: none;
    flex: auto;
    justify-content: space-between;
    
}

.btn:hover {
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background-color:transparent;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
/*
.btn svg {
    margin-right: 8px;
    width: 18px;    
    height: 18px;
}
*/

